@import '../../utils/vars', '../../mixins/box-shadow';
 
.m-btn {
    padding: ($half-unit + $quarter-unit) $base-unit;
    border-radius: $half-unit;
    text-transform: uppercase;

    cursor: pointer;
    @include box-shadow-default($eight-unit / 2);

    &:hover {
        transform: translateY(-$eight-unit);
        @include box-shadow-default($eight-unit);
    }
}