@import '../../utils/vars';

/* background-colors */
.m-bg-white {
    background-color: $default-white;
}

.m-bg-black {
    background-color: $default-black;
}

.m-bg-transparent {
    background-color: transparent;
}