$main-color: #997FB3;

$default-white: #FAF9FB;
$default-black: #332640;
$default-red: #D65C5C;
$default-green: #7CC270;

$default-disabled-light: #E5E5E5;
$default-disabled-dark: #997FB3;

$dark-white: #EDEAF1;
$light-black: #594370;

$nav-link-color: $default-white;