/* sizes */
$base-unit: 16px;

$eigth-unit: $base-unit / 8;
$quarter-unit: $base-unit / 4;
$half-unit: $base-unit / 2;
$double-unit: $base-unit * 2;

/* default animation duration */
$default-duration: 0.3s;

$short-duration: $default-duration / 2;
$long-duration: $default-duration * 2;

/* colors */
$default-white: #fff;
$default-black: #23253A;

$nav-link-color: #fff;

/* breakpoints */
$breakpoint-s: 426px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 2560px;